<%= form_tag({controller: "connections", action: "create"}) do %>
    <%= label_tag(:mentee_id, "Mentee Id") %>
    <%= text_field_tag(:mentee_id) %>
    <%= label_tag(:mentor_id, "Mentor Id") %>
    <%= text_field_tag(:mentor_id) %>
    <%= submit_tag("Search") %>
<% end %>

<div class="container">
    <div class="row">
        <div class="col-md-6 box">
            <% half = @users.length / 2 %>
            <% @users[0, half].each do |user| %>
                <div class="half-card find">
                  <div class="posts">
                      <article>
                        <%= link_to user do %>
                          <span class="image object">
                                <%= image_tag user.picture.url if user.picture? %>
                          </span>
                          <h3><%= "#{user.first_name} #{user.last_name}" %></h3>
                          <p id = "role"><%= user.role %></p>
                          <p><%= user.title %></p>
                          <p><%= user.id %></p>
                          <ul class="actions">
                            <li><% link_to "MORE", users_path(user) %></li>
                          </ul>
                        <% end %>
                      </article>
                 </div>
               </div>
            <% end %>
        </div>
        <div class="col-md-6 box">
            <% half = @users.length / 2 %>
            <% @users[half, @users.length].each do |user| %>
                <div class="half-card find">
                   <div class="posts">
                       <article>
                         <%= link_to user do %>
                           <span class="image object">
                                 <%= image_tag user.picture.url if user.picture? %>
                           </span>
                           <h3><%= "#{user.first_name} #{user.last_name}" %></h3>
                           <p id = "role"><%= user.role %></p>
                           <p><%= user.title %></p>
                           <p><%= user.id %></p>
                           <ul class="actions">
                             <li><% link_to "MORE", users_path(user) %></li>
                           </ul>
                         <% end %>
                       </article>
                  </div>
                 </div>
          <% end %>
      </div>
    </div>
</div>
