<%= form_for(user) do |f| %>

    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="page-header", id="new-field-text">
         <div class="jumbotron" style="margin-bottom: 0; ">
             <br>
             <div ><%= f.text_field :first_name, placeholder: "First Name", style: "background-color: transparent; width: 500px; height: 30px; color: black; font-family: 'Bungee'; font-size: 25px; border: none;, border-left: 1px; border-left-style: solid;" %></div>
        </div>
    </div>
    <div class="page-header", id="new-field-text">
         <div class="jumbotron" style="margin-bottom: 0; ">
             <br>
             <div ><%= f.text_field :last_name, placeholder: "Last Name", style: "background-color: transparent; width: 500px; height: 30px; color: black; font-family: 'Bungee'; font-size: 25px; border: none;, border-left: 1px; border-left-style: solid;" %></div>
        </div>
    </div>
    <div class="page-header", id="new-field-text">
         <div class="jumbotron" style="margin-bottom: 0; ">
             <br>
             <div ><%= f.text_field :email, placeholder: "Email", style: "background-color: transparent; width: 500px; height: 30px; color: black; font-family: 'Bungee'; font-size: 25px; border: none;, border-left: 1px; border-left-style: solid;" %></div>
        </div>
    </div>
    <div class="field">
      <%= f.label :role %>
      <%= f.select :role, [ 'Student', 'Alum' ], :prompt => 'Select One' %>
    </div>
    <div class="page-header", id="new-field-text">
         <div class="jumbotron" style="margin-bottom: 0; ">
             <br>
             <div ><%= f.text_field :coffee_title, placeholder: "Title", style: "background-color: transparent; width: 500px; height: 30px; color: black; font-family: 'Bungee'; font-size: 25px; border: none;, border-left: 1px; border-left-style: solid;" %></div>
             <hr>
        </div>
    </div>
    <div class="page-header", id="new-field-text">
         <div class="jumbotron" style="margin-bottom: 0; ">
             <br>
             <div ><%= f.text_field :about_me, placeholder: "Description", style: "background-color: transparent; width: 500px; height: 75px; color: black; font-family: 'Bungee'; font-size: 50px; border: none;, border-left: 1px; border-left-style: solid;" %></div>
             <hr>
        </div>
    </div>
    <div class="page-header", id="new-field-text">
         <div class="jumbotron" style="margin-bottom: 0; ">
             <br>
             <div ><%= f.text_field :contact, placeholder: "Contact", style: "background-color: transparent; width: 500px; height: 30px; color: black; font-family: 'Bungee'; font-size: 25px; border: none;, border-left: 1px; border-left-style: solid;" %></div>
             <hr>
        </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
