<div class='col-sm-12 col-md-6 col-md-offset-3'>
  <header class="major">
    <% if @user.first_name %>
      <h2><%= "#{@user.first_name} #{@user.last_name}" %></h2>
    <% else %>
      <h3><%= "Welcome! Please fill in the following to get started." %></h3>
    <% end %>
  </header>

  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :role %><br/>
      <%= f.select(:role, User.roles.keys.map {|role| [role.titleize, role]}) %>
    </div>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :linkedin_url %>
      <%= f.text_field :linkedin_url %>
    </div>

    <div class="field">
      <%= f.label :tag_list, "Tags (at most 5)" %>
      <%= f.collection_check_boxes :tag_ids, Tag.order(:name), :id, :name, {}, {multiple: true} %>
    </div>

    <div class="field picture">
      <%= f.label :picture %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  $('#picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
