<div class="container">
    <div class="row">
        <!-- <div class="col-md-3" id="tag-filter" >
            <h2 class="">Recommended</h2>
            <% User.all.where.not(role: current_user.role).shuffle.each do |u| %>
            <% end %>
        </div> -->
        <div class="col-md-3 box" id="tag-filter" >
            <div class="posts">
                <article>
                    <div class='wave -one'></div>
                    <div class='wave -two'></div>
                    <div class='wave -three'></div>
                    <section id="search" class="alt">
                         <%= form_tag users_path, :method => 'get' do %>
                             <%= text_field_tag :search, params[:search], :placeholder => "Find", :id => "query" %>
                         <% end %>
                          <!-- <% Tag.all.each do |tag| %>
                            <div class="tag-thin-gap"><p><%= link_to tag.name, tag_user_path(tag.name) %></p></div>
                          <%end%> -->
                    </section>
                </article>
               <article class="long-height">
                  <!-- <div class='box'>
                     <div class='wave -one'></div>
                     <div class='wave -two'></div>
                     <div class='wave -three'></div>
                     <div class='title' style="color: #fae596;">Recommended</div>
                  </div> -->
                  <div class='box'>
                     <div class='wave -one'></div>
                     <div class='wave -two'></div>
                     <div class='wave -three'></div>
                    <div class='title'><%= link_to "Mobile Development", tag_user_path("Mobile Development") %></div>
                  </div>
                  <div class='box'>
                    <div class='wave -one'></div>
                    <div class='wave -two'></div>
                    <div class='wave -three'></div>
                    <div class='title'><%= link_to "Web Development", tag_user_path("Web Development") %></div>
                  </div>
                  <div class='box'>
                    <div class='wave -one'></div>
                    <div class='wave -two'></div>
                    <div class='wave -three'></div>
                    <div class='title' ><%= link_to "UI/UX", tag_user_path("UI/UX") %></div>
                  </div>
                 <div class='box'>
                   <div class='wave -one'></div>
                   <div class='wave -two'></div>
                   <div class='wave -three'></div>
                   <div class='title'><%= link_to "Product Development", tag_user_path("Product Development") %></div>
                 </div>
               </article>
           </div>
         </div>


        <div class="col-md-8 box">
            <% half = @users.length / 2 %>
            <% @users[0, half].each do |user| %>
                <div class="half-card find">
                      <div class="posts">
                              <article>
                                <%= link_to user do %>
                                  <span class="image object">
                                        <%= image_tag user.picture.url if user.picture? %>
                                  </span>
                                  <h3><%= "#{user.first_name} #{user.last_name}" %></h3>
                                  <!-- <p id = "role"><%= user.role %></p> -->
                                  <p><%= user.title %></p>
                                  <!-- <div class="tag-index">
                                      <% user.tag_list.each do |tag| %>
                                         <div class="tag-thin-gap"><p><%= link_to tag, tag_user_path(tag) %></p></div>
                                      <%end%>
                                  </div> -->
                                  <ul class="actions">
                                    <li><% link_to "MORE", users_path(user) %></li>
                                  </ul>
                                <% end %>
                              </article>
                     </div>
               </div>
            <% end %>
            <% half = @users.length / 2 %>
            <% @users[half, @users.length].each do |user| %>
                <div class="half-card find">
                       <div class="posts">
                               <article>
                                 <%= link_to user do %>
                                   <span class="image object">
                                         <%= image_tag user.picture.url if user.picture? %>
                                   </span>
                                   <h3><%= "#{user.first_name} #{user.last_name}" %></h3>
                                   <!-- <p id = "role"><%= user.role %></p> -->
                                   <p><%= user.title %></p>
                                   <!-- <div class="tag-index">
                                       <% user.tag_list.each do |tag| %>
                                          <div class="tag-thin-gap"><p><%= link_to tag, tag_user_path(tag) %></p></div>
                                       <%end%>
                                   </div> -->
                                   <ul class="actions">
                                     <li><% link_to "MORE", users_path(user) %></li>
                                   </ul>
                                 <% end %>
                               </article>
                      </div>
                 </div>
          <% end %>
      </div>
    </div>
</div>
