<!-- Methods -->

<% tag_array = Array.new %>
<% @tags.each do |tag| %>
    <% tag_array.append(tag.name) %>
<% end %>

<% student_array = Array.new %>
<% mentor_array = Array.new %>
<% alumni_array = Array.new %>
<% temp_array = Array.new %>
<% @users.each do |user| %>
    <% if user.role == "student" %>
        <% student_array.append(user) %>
    <% elsif user.role == "mentor" %>
        <% mentor_array.append(user) %>
    <% else %>
        <% alumni_array.append(user) %>
    <% end %>
<% end %>


<div class="container">
    <div class="row">
        <div class="col-6 col-md-4">
            <section>
              <header class="major">
                <h3>Popular Tags</h3>
              </header>
              <section id="search" class="alt">
              <% tag_array.each do |tag| %>
                 <div class="tag-thin-gap"><p><%= link_to tag, tag_user_path(tag) %></p></div>
              <%end%>
            </section>
        </div>

        <div class="col-md-8">
            <section>
              <header class="major">
                <!-- <h2>Users</h2> -->
                <% if current_user.role == "student" || current_user.role == "alumni" %>
                    <h2><%="Mentors" %></h2>
                    <% temp_array = mentor_array %>

                <% elsif current_user.role == "mentor" %>
                    <h2><%= "Students" %></h2>
                    <% temp_array = student_array %>
                <% else  %>
                    <h2><%="Members" %></h2>
                    <% temp_array = @users %>

                <% end %>
              </header>
              <section id="search" class="alt">
                  <%= form_tag users_path, :method => 'get' do %>
                      <%= text_field_tag :search, params[:search], :placeholder => "Search", :id => "query" %>
                  <% end %>

              </section>
              <div class="posts">
                <% temp_array.each do |user| %>
                    <article>
                      <%= link_to user do %>
                        <!-- image -->
                        <span class="image object">
                              <%= image_tag user.picture.url if user.picture? %>
                        </span>
                        <h3><%= "#{user.first_name} #{user.last_name}" %></h3>
                        <p id = "role"><%= user.role %></p>
                        <p><%= user.title %></p>
                        <% tag_array_select = Array.new %>
                        <% user.tag_list.each do |tag| %>
                            <% tag_array_select.append(tag) %>
                        <% end %>
                        <div class="tag-index">
                            <% tag_array_select.each do |tag| %>
                               <div class="tag-thin-gap"><p><%= link_to tag, tag_user_path(tag) %></p></div>
                            <%end%>
                       </div>
                        <ul class="actions">
                          <li><% link_to "MORE", users_path(user) %></li>
                        </ul>
                      <% end %>
                    </article>
                <% end %>
              </div>
            </section>

        </div>
    </div>

</div>
