<div class="container">
    <div class="row">
        <!-- <div class="col-md-3" id="tag-filter" >
            <h2 class="">Recommended</h2>
            <% User.all.where.not(role: current_user.role).shuffle.each do |u| %>
            <% end %>
        </div> -->

        <div class="col-md-3 box" id="tag-filter" >
            <div class='wave -one'></div>
            <div class='wave -two'></div>
            <div class='wave -three'></div>
            <section>
                  <section id="search" class="alt">
                      <%= form_tag users_path, :method => 'get' do %>
                          <%= text_field_tag :search, params[:search], :placeholder => "Find", :id => "query" %>
                      <% end %>
                      <!-- <% Tag.all.each do |tag| %>
                        <div class="tag-thin-gap"><p><%= link_to tag.name, tag_user_path(tag.name) %></p></div>
                      <%end%> -->
                  </section>
            </section>
            <article class="long-height">
                    <div class='box'>
                      <div class='wave -one'></div>
                      <div class='wave -two'></div>
                      <div class='wave -three'></div>
                      <div class='title' style="color: #fae596;">Recommended</div>
                   </div>
                   <div class='box'>
                     <div class='wave -one'></div>
                     <div class='wave -two'></div>
                     <div class='wave -three'></div>
                     <div class='title'>Mobile Developers</div>
                  </div>
                  <div class='box'>
                    <div class='wave -one'></div>
                    <div class='wave -two'></div>
                    <div class='wave -three'></div>
                    <div class='title'>Web Developers</div>
                 </div>
                 <div class='box'>
                   <div class='wave -one'></div>
                   <div class='wave -two'></div>
                   <div class='wave -three'></div>
                   <div class='title' >UI/UX</div>
                </div>
                <div class='box'>
                  <div class='wave -one'></div>
                  <div class='wave -two'></div>
                  <div class='wave -three'></div>
                  <div class='title'>Entrepreneurs</div>
               </div>
            </article>
        </div>


            <div class="col-md-4 box" id="find">
                <!-- <div class='wave -one'></div>
                <div class='wave -two'></div>
                <div class='wave -three'></div> -->
                <% half = @users.length / 2 %>
                      <div class="posts">
                          <% @users[0, half].each do |user| %>
                          <article>
                                <%= link_to user do %>
                                  <span class="image object">
                                        <%= image_tag user.picture.url if user.picture? %>
                                  </span>
                                  <h3><%= "#{user.first_name} #{user.last_name}" %></h3>
                                  <!-- <p id = "role"><%= user.role %></p> -->
                                  <p><%= user.title %></p>
                                  <!-- <div class="tag-index">
                                      <% user.tag_list.each do |tag| %>
                                         <div class="tag-thin-gap"><p><%= link_to tag, tag_user_path(tag) %></p></div>
                                      <%end%>
                                  </div> -->
                                  <ul class="actions">
                                    <li><% link_to "MORE", users_path(user) %></li>
                                  </ul>
                                <% end %>
                          </article>
                      <% end %>
                     </div>
             </div>

             <div class="col-md-4 box" id="find">
                 <!-- <div class='wave -one'></div>
                 <div class='wave -two'></div>
                 <div class='wave -three'></div> -->
                 <% half = @users.length / 2 %>
                       <div class="posts">
                           <% @users[half, @users.length].each do |user| %>
                           <article>
                                 <%= link_to user do %>
                                   <span class="image object">
                                         <%= image_tag user.picture.url if user.picture? %>
                                   </span>
                                   <h3><%= "#{user.first_name} #{user.last_name}" %></h3>
                                   <!-- <p id = "role"><%= user.role %></p> -->
                                   <p><%= user.title %></p>
                                   <!-- <div class="tag-index">
                                       <% user.tag_list.each do |tag| %>
                                          <div class="tag-thin-gap"><p><%= link_to tag, tag_user_path(tag) %></p></div>
                                       <%end%>
                                   </div> -->
                                   <ul class="actions">
                                     <li><% link_to "MORE", users_path(user) %></li>
                                   </ul>
                                 <% end %>
                           </article>
                       <% end %>
                      </div>
              </div>
    </div>
</div>
