<p id="notice"><%= notice %></p>
<div class="result-wrapper col-md-8 col-md-offset-2">
  <table class="table table-filter">
    <tbody>
      <tr>
        <td>
          <div class="media">
            <div class="col-md-2">
              <%= link_to image_tag('https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg'), @user, :class=>"pull-left"%>
            </div>
            <div class="col-md-10">
              <span class="media-meta pull-right"><%= @user.role %></span>
              <h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>
              <h4>About</h4>
              <p><%= @user.about_me %></p>
              <h4>Skill</h4>
              <p><%= @user.skill %></p>
              <h4>Contact</h4>
              <p><%= @user.contact %></p>
              <%= link_to 'Back', users_path %>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<div>
