<!-- Banner -->
<div class='col-sm-12 col-md-6 col-md-offset-3' id='show'>
  <section id="banner" style='padding-top:10px'>
    <div class="content">
      <header>
      <div>
          <!-- If admin -->
        <% if current_user == @user %>
            <h1><%= "#{@user.first_name} #{@user.last_name}" %>
            <%= link_to image_tag("edit-button.png", class: "edit-image"), edit_user_path(@user) %></h1>
        <% else %>
            <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
        <% end %>
      </div>
        <p id = "role"><%= @user.role %></p>
        <p><%= @user.title %></p>
      </header>
    </div>
    <span class="image object">
          <%= image_tag @user.picture.url if @user.picture? %>
    </span>
  </section>
  <div class= "content description">
        <p><%= @user.description %></p>
        <p><%= @user.email %></p>
        <p><%= @user.title %></p>
        <p><%= @user.description %></p>
        <p><%= @user.linkedin_url %></p>
  </div>

<!-- If admin -->
<% if current_user != @user %>
  <div class= "content contact">
      <ul class="actions">
        <%= mail_to @user.email, "Contact", class: "button big", subject: "[via Make School CoffeeAlum] Request for a chat",
         body: "Dear #{@user.first_name}, \n\n My name is #{current_user.first_name} and I'm a #{current_user.title}. #{current_user.description} \n\n I took a look at your profile, and got really interested in talking with you. \n Would it be possible to schedule a coffee or talk over skype? \n\n Best, \n #{current_user.first_name} #{current_user.last_name}" %>
         <%= link_to "LinkedIn",  "#{@user.linkedin_url}", target: '_blank', class: "button big linkedin" %>
      </ul>
  </div>
  <% end %>
</div>
